<%- include("./includes/header.ejs") %> 
<%- include("./includes/search.ejs") %> 
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <%- include('./includes/publicPosts.ejs') %>

            <!-- Pagination -->
        </div>
    </div>
</div>
<% if(posts.length > 0) { %> 
    <%- include('./includes/pagination.ejs') %>
    <% } %> 

<%- include("./includes/footer.ejs") %> 