

<% if (posts.length > 0) { %>
<h2 class="mt-2">Last Posts</h2>
<div class="table-responsive d-flex justify-content-end">
    <table class="table table-striped table-sm w-75">
        <thead>
            <tr class="text-dark">
                <th>#</th>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% for (let post of posts) { %>
            <tr>
                <td>1</td>
                <td><a href="/posts/<%= post._id %>"></a><%= post.title %></td>
                <td><%= (post.createdAt.toUTCString()) %></td>
                <td>
                    <span class=" <%= post.status === "public" ? 'text-success' : 'text-danger' %>">
                        <%= post.status === "public" ? "public" : "private" %>
                    </span>
                </td>
                <td>
                    <a href="/dashboard/edit-post/<%= post._id %>" class="btn btn-sm btn-primary">Edit</a>
                </td>
                <td>
                    <a href="/dashboard/delete-post/<%= post._id %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<%- include('../includes/pagination.ejs') %> 
<% } else { %>
<div class="text-center">
    <h3 class="mt-2">
        Not Any Post Here
    </h3>
</div>
<% } %>

